<div id="form-container">
    <form method='POST'>
        <p>Get DJ Hojo to play in Europe! <br>Please sign below.</p>
        <input type='text' name='name' placeholder='first name' autocomplete='off'><br>
        <input type='text' name='surname' placeholder='surname' autocomplete='off'><br>
        <input type='text' name='email' placeholder='email address' autocomplete='off'><br>
        <input type='password' name='password' placeholder='password' autocomplete='off'><br> 
        <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
        <p>Already signed up? Click log in :)</p>
        <div id = "button-container">
        <button id="submit"> sign up </button><div id="clear"><a href="login"> log in</a> </div>
        </div>
    </form>
</div>