<div id="form-container">
    <form>
        <br>
        <br>
        <br>
        <h4>Signature</h4>
        <img src= {{signature}} alt="signed"/>
        <br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <br>
        <p>
        Check out the other <a href="/signers"</a>{{number}} signers! </a>
        </p>
        
        <button type="submit" id="remove"> delete signature</button> <div id="clear"><a href="edit">edit profile </a></div>    
    </form>
</div>